@import './mixins.scss';

main.add-theme
{
    padding: 50px 0;
}

form.add-theme-form
{
    @include flex(column nowrap, flex-start, flex-start);
}

textarea#themeDesc, textarea#themeText
{
    min-height: 80px;

    resize: vertical;

    padding: 10px 20px;

    font-size: 18px;
}

textarea#themeDesc
{
    max-height: 180px;
    width: 500px;
}

textarea#themeText
{
    min-height: 200px;
    max-height: 1200px;
    width: 80%;

    text-indent: 10px;
}

div.buttons
{
    width: 100%;
}

input.add-theme-button
{
    margin-top: 10px;
}

img.preview-image
{
    width: 200px;
    margin-right: 10px;

    &:last-child
    {
        margin-right: unset;
    }
}