@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Oswald', sans-serif;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $bodyColor;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

main
{
    @include flex(row nowrap, flex-start, flex-start);
    padding: 50px 0;
}

div.container
{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

div.themes-wrapper
{
    @include grid(1fr, repeat(4, 1fr), 20px);
}

@media all and (max-width: 1200px)
{
    div.themes-wrapper
    {
        @include grid(1fr, repeat(3, 1fr), 20px);
    }
}

a.add-new
{
    padding: 10px;
    
    border: 1px solid rgb(201, 201, 201);
    background-color: #fff;
    color: #000;

    &:hover
    {
        background-color: $blueColor;
    }
}

input:focus, button:focus
{
    outline: none;
}

input:not(input[type="text"]), 
input:not(input[type="email"]), 
input:not(input[type="password"]),
input:not(input[type="checkbox"]), 
textarea
{
    outline: none;

    padding: 10px;
    margin-top: 5px;

    font-size: 16px;

    border-radius: 5px;
    border: 1px solid $blueColor;

    background-color: $blueColor;

    transition: all .3s;

    &:hover
    {
        color: $blueColor;
        background-color: #fff;
    }
}

.button
{
    @extend %buttons;
}

.button.accept
{
    border-color: $acceptColor;
    background-color: $acceptColor;
}

.button.decline
{
    border-color: $declineColor;
    background-color: $declineColor;
}

// span.theme-author
// {
//     color: $greyColor;
//     font-size: 16px;
//     font-style: italic;
// }

// span.theme-date
// {
//     font-weight: normal;
//     font-size: 14px;
//     color: $greyColor;

//     margin-left: 15px;
// }

span.theme-author, span.theme-date {
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(29, 142, 166);
    line-height: 1.7;

    display: block;
}

p.error-message, p.success-message
{
    text-align: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
}

p.error-message
{
    border: 1px solid red;
    box-shadow: 0px 0px 10px 2px rgb(206, 175, 175);
    background-color: rgb(241, 83, 83);
    padding: 10px;
}

p.success-message
{
    border: 1px solid rgb(0, 255, 85);
    box-shadow: 0px 0px 10px 2px rgb(142, 226, 167);
    background-color: rgb(27, 202, 36);
    color: #fff;
}

.nav-button
{
    margin-right: 10px;

    transition: all .2s;

    &:last-child
    {
        margin-right: 0;
    }

    &:hover
    {
        color: $blueColor;
    }
}

label.file-label
{
    @extend %buttons;
    margin-top: 10px;
}

img.theme-sumbnail
{
    width: 200px;
}