@import './mixins.scss';

header
{
    background-image: linear-gradient(45deg, 
                                    rgb(196, 7, 7) 0% 80%, 
                                    $blueColor 80% 85%, 
                                    rgb(196, 7, 7) 85% 100%
                                    );

    padding: 20px 0;
    position: relative;
    z-index: 1;
}

div.header-wrapper
{
    max-width: 1240px;
    @include flex(row wrap, space-between, center);
    margin: 0 auto;

    padding: 5px 30px;

    div.logo
    {
        margin-right: 50%;

        a.logo-url
        {
            display: block;
        }

        a.logo-url img
        {
            width: 50px;
        }

    }

    h1
    {
        text-align: center;

        transform: translateX(-50%);
        margin-right: auto;

        span
        {
            font-size: 15px;
            display: block;
        }

        span.main-title
        {
            font-size: 25px;
        }

        span.sub-title
        {
            font-weight: normal;
        }
    }
}

@media all and (max-width: 570px)
{

    header
    {
        padding: unset;
    }

    div.header-wrapper
    {
        @include flex(column nowrap, flex-start, center);

        div.logo
        {
            margin-bottom: 15px;
            margin-right: unset;
        }

        h1
        {
            transform: unset;
            margin-right: unset;

            span.sub-title
            {
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}

// div.login
// {
    // margin-left: auto;
// }

a.login-button
{
    @include flex(row nowrap, flex-start, center);

    position: relative;
    padding: 15px;

    font-size: 20px;
    font-family: "Oswald";
    color: rgb(29, 142, 166);
    line-height: 1.7;

    color: #000;

    svg
    {
        width: 20px;
        height: 20px;
        
        margin-right: 7px;

        path.st0
        {
            fill: #000;
        }
    }

    &:hover
    {
        background-color: #fff;
    }

    &:hover + div.dropdown
    {
        display: flex;
    }
}

div.dropdown
{
    display: none;
    position: absolute;
    z-index: 2;
    width: 150px;

    background-color: #fff;

    &:hover
    {
        display: flex;
    }

    div.nav
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;

        a.dropdown-item
        {
            display: block;

            padding: 10px 5px 10px 15px;
            width: 100%;
            margin-bottom: 13px;

            color: #000;

            transition: all .3s;

            &:last-child
            {
                margin-bottom: unset;
            }

            &:hover
            {
                background-color: $blueColor;
                color: #fff;
            }
        }
    }

    
}

nav.navbar
{
    @include flex(row wrap, space-between, center);

    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(243, 243, 243);

    padding: 5px 10px;

    div.items-wrapper
    {
        max-width: 80%;

        a.navbar-item
        {
            font-size: 16px;
            font-family: "Oswald", sans-serif;
            color: rgb(178, 178, 178);
            text-transform: uppercase;
            line-height: 2.857;

            transition: all .3s;

            min-width: 100px;

            margin-right: 20px;
            
            &:hover
            {
                color: $blueColor;
            }

            &:last-child
            {
                margin-right: unset;
            }
        }
    }

    form.searchForm
    {
        div
        {
            @include flex(row nowrap, flex-start, center);

            input#searchQuery
            {
                width: 300px;
                padding: 2px 0;
                text-indent: 5px;
            }

            label.searchLabel
            {
                background-image: url('./../img/search.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;

                display: block;
                height: 30px;
                width: 30px;

                padding: 2px;
            }
        }
    }
}

@media all and (max-width: 704px)
{
    div.nav-container
    {
        width: 100%;
    }

    nav.navbar
    {
        div.items-wrapper
        {
            @include grid(1fr, repeat(3, 1fr), 0);
        }
    }
}

@media all and (max-width: 557px)
{
    nav.navbar
    {
        div.items-wrapper
        {
            @include grid(1fr, repeat(2, 1fr), 0);
            margin-left: 40px;
        }
    }
}