div.change-data
{
    width: max-content;

    p
    {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }

    form
    {
        width: max-content;
    }
}