@import './mixins.scss';

// div.themes-title
// {
//     @include flex(row wrap, space-between, center);

//     background-color: rgb(236, 235, 235);
//     padding: 20px 10px;
// }

// h2.section-title
// {
//     font-weight: normal;
// }

@media all and (max-width: 1615px)
{
    main
    {
        @include flex(column nowrap, flex-start, flex-start);
    }
}

div.themes-main
{
    width: 100%;
}

div.themes-date
{
    margin-bottom: 30px;

    &:last-child
    {
        margin-bottom: unset;
    }

    p.date-title
    {
        width: 100%;
        text-align: left;
        padding-bottom: 5px;

        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }
}

div.themes-date-wrapper
{
    @include grid(1fr, repeat(3, 1fr), 20px);
}

@media all and (max-width: 1200px)
{
    div.themes-date-wrapper
    {
        @include grid(1fr, repeat(2, 1fr), 20px);
    }
}

@media all and (max-width: 830px)
{
    div.themes-date-wrapper
    {
        @include grid(1fr, 1fr, 20px);
    }
}

a.theme-url
{
    display: block;
    color: #000;
}

div.theme-admin
{
    margin-bottom: 10px;
}

div.theme
{
    padding: 10px 20px;

    border: 2px solid $lightBlue;
    background-color: $lightGrey;

    border-radius: 5px;

    min-height: 100%;

    @include flex(column nowrap, flex-start, flex-start);

    div.theme-preview
    {
        width: 300px;
        height: 200px;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        margin: 0 auto 20px auto;
    }

    h3
    {
        margin-bottom: 5px;
        font-family: 'Tahoma';
    }

    span.theme-date.mainpage-date, span.theme-author.mainpage-author
    {
        font-size: 15px;
        font-family: 'Tahoma';
    }

    p.theme-text, span.mainpage-author
    {
        margin-bottom: 15px;
    }

    p.theme-text
    {
        text-indent: 15px;
        font-family: 'Tahoma';
        font-size: 15px;
    }

    span.theme-comments
    {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        font-family: 'Tahoma';
        font-size: 14px;

        svg
        {
            margin-right: 7px;
        }
    }
}