@import './mixins.scss';

a.new-theme
{
    display: inline-block;

    margin-bottom: 20px;
}

main.my-theme
{
    padding: 20px 0 50px 0;
    display: block;
}

div.themes-wrapper
{
    @include grid(1fr, repeat(4, 1fr), 20px);
}

span.theme-status
{
    margin: 4px 0;
    display: inline-block;
    margin-left: 20px;

    font-size: 13px;
    color: $greyColor;
}

// div.my-theme-wrapper
// {
//     padding: 0 15px 15px 15px;
//     border-bottom: 2px solid #ccc;
//     border-right: 2px solid #ccc;
//     border-left: 2px solid #ccc;
// }