h2.rules-title, p.rules-subtitle
{
    text-align: center;
}

p.rules-subtitle
{
    margin-bottom: 20px;
}

ol.rules-list
{
    margin-bottom: 20px;
}

p.paragraph
{
    margin-bottom: 20px;
}

ol.sub-list
{
    list-style-type: none;
}