label.file-label, input.button, a.button, button.button {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
label.file-label:hover, input.button:hover, a.button:hover, button.button:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
label.inactive.file-label, input.inactive.button, a.inactive.button, button.inactive.button {
  cursor: not-allowed;
  opacity: 0.5;
}
label.inactive.file-label:hover, input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

div.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

a.add-new {
  padding: 10px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  color: #000;
}
a.add-new:hover {
  background-color: #0955f8;
}

input:focus, button:focus {
  outline: none;
}

input:not(input[type=text]),
input:not(input[type=email]),
input:not(input[type=password]),
input:not(input[type=checkbox]),
textarea {
  outline: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #0955f8;
  background-color: #0955f8;
  transition: all 0.3s;
}
input:not(input[type=text]):hover,
input:not(input[type=email]):hover,
input:not(input[type=password]):hover,
input:not(input[type=checkbox]):hover,
textarea:hover {
  color: #0955f8;
  background-color: #fff;
}

span.theme-author {
  color: #999999;
  font-size: 16px;
  font-style: italic;
}

span.theme-date {
  font-weight: normal;
  font-size: 14px;
  color: #999999;
  margin-left: 15px;
}

p.error-message, p.success-message {
  text-align: center;
  width: -webkit-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #fff;
}

p.error-message {
  border: 1px solid red;
  box-shadow: 0px 0px 10px 2px #ceafaf;
  background-color: #f15353;
  padding: 10px;
}

p.success-message {
  border: 1px solid #00ff55;
  box-shadow: 0px 0px 10px 2px #8ee2a7;
  background-color: #1bca24;
  color: #fff;
}

.nav-button {
  margin-right: 10px;
  transition: all 0.2s;
}
.nav-button:last-child {
  margin-right: 0;
}
.nav-button:hover {
  color: #0955f8;
}

label.file-label {
  margin-top: 10px;
}

img.theme-sumbnail {
  width: 200px;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

header {
  background-image: linear-gradient(45deg, #c40707 0% 80%, #0955f8 80% 85%, #c40707 85% 100%);
  position: relative;
  z-index: 1;
}

div.header-wrapper {
  max-width: 1240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 30px;
}
div.header-wrapper h1 {
  color: #fff;
  text-align: center;
  display: block;
}
div.header-wrapper h1 span {
  font-size: 15px;
  display: block;
}
div.header-wrapper h1 span.main-title {
  font-size: 25px;
}
div.header-wrapper h1 span.sub-title {
  font-weight: normal;
}

a.logo-url {
  display: block;
}

a.logo-url img {
  width: 50px;
}

div.login a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  position: relative;
  padding: 15px;
}
div.login a:hover {
  background-color: #fff;
  color: #000;
}
div.login a:hover svg path.st0 {
  fill: #000;
}
div.login a:hover + div.dropdown {
  display: block;
}
div.login a svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
div.login a svg path.st0 {
  fill: #fff;
}

div.dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  width: 150px;
  background-color: #fff;
  padding: 10px;
}
div.dropdown:hover {
  display: block;
}
div.dropdown:hover a.login-button {
  background-color: #fff;
}
div.dropdown a.dropdown-item {
  color: #000;
  margin-bottom: 7px;
}
div.dropdown a.dropdown-item:last-child {
  margin-bottom: unset;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

div.themes-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ecebeb;
  padding: 20px 10px;
}

h2.section-title {
  font-weight: normal;
}

p.date-title {
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

div.useful-links a {
  margin-right: 40px;
  color: #0931e4;
  font-size: 13px;
}
div.useful-links a:last-child {
  margin-right: unset;
}

a.theme-url {
  display: block;
  color: #000;
}

div.theme-admin, a.theme-url {
  margin-bottom: 10px;
}

div.theme {
  border: 1px solid #3473fc;
  background-image: linear-gradient(to bottom, #ebebeb 0 50%, #bbbbbb);
  padding: 10px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.theme h3 {
  margin-bottom: 5px;
}
div.theme p, div.theme span.theme-author {
  margin-bottom: 15px;
}
div.theme div.img-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 10px;
}
div.theme p.theme-text {
  text-indent: 15px;
}
div.theme span.theme-comments {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.theme span.theme-comments svg {
  margin-right: 7px;
}

h2.rules-title, p.rules-subtitle {
  text-align: center;
}

p.rules-subtitle {
  margin-bottom: 20px;
}

ol.rules-list {
  margin-bottom: 20px;
}

p.paragraph {
  margin-bottom: 20px;
}

ol.sub-list {
  list-style-type: none;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

img.reg-logo {
  width: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}

form.reg-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  width: -webkit-max-content;
  width: max-content;
}

div.input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}
div.input-wrapper:last-child {
  margin-bottom: unset;
}
div.input-wrapper input {
  min-width: 500px;
  padding: 5px 0 5px 15px;
}

span.required {
  color: red;
  font-size: 15px;
}

p.not-registered {
  margin-top: 50px;
  text-align: center;
}
p.not-registered a {
  color: #0955f8;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

main.theme-main {
  padding: 50px 0;
}

div.theme-title {
  margin-bottom: 25px;
}
div.theme-title:last-child {
  margin-bottom: unset;
}
div.theme-title h3 {
  margin-bottom: 7px;
}
div.theme-title h3 span {
  font-weight: normal;
}
div.theme-title h3 span.theme-date {
  font-weight: bold;
}
div.theme-title p.theme-desc {
  text-indent: 15px;
  line-height: 18px;
}

section.theme-comments {
  padding-left: 50px;
}
section.theme-comments h2 {
  font-size: 15px;
  margin-bottom: 20px;
}

section.comment {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 13px;
}
section.comment:last-child {
  margin-bottom: unset;
}
section.comment h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
section.comment article {
  padding-left: 15px;
  text-indent: 15px;
}

form.comment-form {
  margin-top: 50px;
}
form.comment-form textarea {
  width: 80%;
  min-width: 220px;
  max-width: 80%;
  height: 150px;
  padding: 5px 5px 5px 0;
  margin-top: 5px;
  font-size: 18px;
  text-indent: 15px;
  resize: vertical;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

a.new-theme {
  display: inline-block;
  margin-bottom: 20px;
}

main.my-theme {
  padding: 20px 0 50px 0;
}

div.my-theme-wrapper-1 {
  padding: 0 0 15px 15px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

div.my-theme-wrapper-2 {
  padding: 0 0 15px 15px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

div.theme-title.my-theme-wrapper-1 h3,
div.theme-title.my-theme-wrapper-2 h3 {
  margin-bottom: unset;
}

span.theme-status {
  margin: 4px 0;
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  color: #999999;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

main.add-theme {
  padding: 50px 0 0 0;
}

form.add-theme-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

textarea#themeDesc {
  width: 500px;
  min-height: 80px;
  resize: vertical;
  max-height: 300px;
  text-indent: 15px;
  padding: 5px 0;
}

div.buttons {
  width: 100%;
}

input.add-theme-button {
  margin-top: 10px;
}

img.preview-image {
  width: 200px;
  margin-right: 10px;
}
img.preview-image:last-child {
  margin-right: unset;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

a.new-theme {
  display: inline-block;
  margin-bottom: 20px;
}

main.my-theme {
  padding: 20px 0 50px 0;
}

div.my-theme-wrapper-1 {
  padding: 0 0 15px 15px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

div.my-theme-wrapper-2 {
  padding: 0 0 15px 15px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

div.theme-title.my-theme-wrapper-1 h3,
div.theme-title.my-theme-wrapper-2 h3 {
  margin-bottom: unset;
}

span.theme-status {
  margin: 4px 0;
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  color: #999999;
}

input.button, a.button, button.button, label.file-label {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #0955f8;
  border-radius: 10px;
  border: 1px solid #0955f8;
  transition: all 0.3s;
}
input.button:hover, a.button:hover, button.button:hover, label.file-label:hover {
  color: #0955f8;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}
input.inactive.button, a.inactive.button, button.inactive.button, label.inactive.file-label {
  cursor: not-allowed;
  opacity: 0.5;
}
input.inactive.button:hover, a.inactive.button:hover, button.inactive.button:hover, label.inactive.file-label:hover {
  color: #fff;
  background-color: #0955f8;
  padding: 10px;
}

div.toolbar {
  margin-bottom: 20px;
}

div.admin-nav {
  background-color: #2e2e2e;
  padding: 10px;
}
div.admin-nav .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

div.theme-admin {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.theme-admin div.theme-info {
  padding-left: 10px;
  border-left: 1px solid #000;
}
div.theme-admin div.theme-select {
  padding-right: 10px;
}
div.theme-admin div.theme-select input {
  width: 20px;
  height: 20px;
}