@import './mixins.scss';

div.toolbar
{
    margin-bottom: 20px;
}

div.admin-nav
{
    background-color: rgb(46, 46, 46);

    padding: 10px;

    .container
    {
        @include flex(row wrap, flex-start, center);
    }
}

div.theme-admin
{
    @include flex(row nowrap, flex-start, center);

    div.theme-info
    {
        padding-left: 10px;
       border-left: 1px solid #000;
    }

    div.theme-select
    {
        padding-right: 10px;

        input
        {
            width: 20px;
            height: 20px;
        }
    }
}